body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin: 2px;
    color: rgba(175, 47, 47, 0.15);
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.notepad {
    grid-area: notepad;
    background-color: white;
    border-style: outset;
    box-shadow: 1px 5px 5px 1px grey;
    align-self: center;
    width: 500px;
    margin: 0 auto;
}

.notepad form {  
    align-items: center;
}

.notepad-footer {
    grid-area: notepad-footer;
    align-items: center;
    display: none;
}

.footer {
    grid-area: footer;
    margin-top: 50px;
    font-size: small;
    text-align: center;
}

.container {
    display: grid;
    grid-template:
        "header header header"
        "left notepad right"
        "left notepad-footer right"
        "footer footer footer";
}

input[type=text] {
    padding: 16px 16px 16px 50px;
    font-size: large;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: hidden;
}

#todo {
    outline: none;
    box-sizing: border-box;
    padding-left:0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:0;
    width: 95%;
    border:none;
}


.notepad#select-all {  
    cursor: pointer;
}

.note-container {
    display: grid;
    grid-template-columns: 50px 1fr; 
    align-items: center; 
}


label input {
    padding: 16px;
}

label div {
    padding: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

li {    
    align-items: center; 
    list-style: none; 
    margin-left: auto;
    text-align: left;
}

.list-item {
    display:grid;
    grid-template-columns: 20px 1fr 50px; 
    justify-content: space-between;   
    align-items: center;
}

p {
    margin-left: 25px;
}

.item-checkbox {

    align-items: center;

}

li:hover .close {
    display: block;
}

.close {     
    display: none;
    margin-left: auto;
    cursor: pointer;

}

.status form {
    display: grid;
    grid-template-areas: "counter all active completed clear";
    grid-template-columns: 120px 80px 80px 80px 120px;
    align-items: center;
    justify-items: center;
    text-align: center;
    column-gap:0;
   
}

form #counter {  
    font-size: medium;
    width:100px;
    grid-area: counter;
    justify-content: left;
    align-self: left;
    text-align:left;
    padding-right:20px;
    
    
   
}


form #all, #active, #completed {
    width:80px;
    align-items: center;
    justify-items: center;
    margin-left: 0; 
    margin-right: 0;
}

form #all {
    grid-area: all;
    

}

form #active {
    grid-area:active;
}


form #completed {
    grid-area:completed;  
}


form #delete {
    grid-area: clear;   
    margin-left: auto;
    
}

.item-checkbox:checked+p {
    text-decoration: line-through;
}

p {
    display: inline-block;
    max-width: 400px;
    word-wrap: break-word;
}

@media (min-width:3000px) {
    .container {
        max-width:150%;
        height:auto;
        font-size:larger;
        padding:40px;
    }

    h1 {
        font-size: 6em;
        margin:40px;
    }
    body {
        font-size:larger;
    }

    input[type=text] {
        font-size:larger;
    }

    
    input [type="checkbox"] {
        padding: 40px;
    }

    .list-item {
        font-size:larger;
        padding:20px;
    }

   

    .form #delete {
        width:120px;
        font-size:medium;
        height:auto;
        margin-left:auto;
    }
    .form #counter, #all, #active, #completed, #delete {
        font-size:large;
        width:120px;
        height:auto;
        padding:auto;
        justify-self: center ;
        align-self: center;
        text-align: center;
    }
    .form #all {
        margin-right:auto;
    }

    .form #active {
        margin-left:auto;
    }

 
}

@media (max-width:500px) {

    
    .container {
        max-width:150%;
        height:auto;
    }
}

.notepad-footer {
    height:fit-content;
}
